.body {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.container {
    margin: 30px auto 0;
    width: 75%;
    max-width: 900px;
    height: 95vh;
    border: 2px solid black;
}

.heading_container {
    display: inline-flex;
    margin-top: 20px;
    margin-left: 20px;
    width: 95%;
}

.intro_container {
    display: grid;
    gap: 2px;
    width: 400px;
    height: 200px;
    border: 2px solid black;
    box-shadow: -7px 7px 7px lavender, 7px -7px 7px lavender;
}
.home {
    display: inline-flex;
    margin: 0px 10px 0px 10px;
}
.home img {
    width: 11px;
    height: 12px;
}

.Profile_image {
    box-shadow: -7px 7px 7px lavender, 7px -7px 7px lavender;
    margin-left: auto;
    /* margin-right: 0; */
    /* display: flex;
    align-items: flex-end;
    justify-content: flex-end; */
    width: 190px;
    height: 200px;
    border: 2px solid black;
}


.Profile_image img {
    object-fit: contain;
    /* display: block;
    align-items: center;
    justify-content: center; */
    margin: auto;
    width: 100%;
    /* max-width: 170px; */
    height: auto;
}

.body_container {
    display: block;
    margin-left: 18px;
    margin-top: 10px;
    width: 95.5%;
    height: 350px;
    background-color: lavender;
}

.body_text {
    margin: 0px 10px 0px 10px;
    display: inline-flex;
    font-size: 12px;
    gap: 10px;
    text-align: justify;
}

.body_text  ul{
    font-weight: bold;
    columns: 3;
    column-gap: 100px;
    list-style-type: square;
}

.body_text ul li a {
    color:black; 
    text-decoration: none;
}

.table_container {
    margin: 5px 18px;
    font-weight: bolder;
}

.table_container table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    border: 2px solid black;
}

.table_container td, th {
    border: 2px solid black;
}

.table_container tr {
    height: 25px;
}